[submodule "example/deps/raylib"]
	path = example/deps/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "tests/deps/libtap"]
	path = tests/deps/libtap
	url = https://github.com/zorgnax/libtap.git
